[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django = "*"
twine = "*"
pre-commit = "*"
flake8 = "*"
sphinx = "*"
sphinx-autobuild = "*"
setuptools-scm = "*"
myst-parser = "*"

[requires]
python_version = "3.9"
